body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
    font-weight: 900;
    color: rgb(95, 93, 93);
}

h2 {
    color: gray;
    font-size: 40px;
    font-weight: 700;
}

.mid {
    text-align: center;
}

.color {
    color: orange;
}

.box1 {
    display: flex;

}

.container {
    width: 50%;
    padding: 20px;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 10%;
}

.container img {
    width: 100%;
}

.container2 {

    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 25px;

}

.container2 img {
    padding-top: 15px;
    padding-right: 4%;
    padding-left: 3%;
    border-radius: 40px 40px 40px 40px;
    text-align: center;
    width: 50%;
    display: block;
}


.bg {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-color: antiquewhite;
}

.link-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, salmon);
    padding: 15px 40px;
    border-radius: 50px;
}